body {
    background-color: #123;
}
#map {
    width: 500px;
    height: 500px;
    border: 3px solid #666;
} 
#map div {
    width: 48px;
    height: 48px;
    border: 1px solid #888;
    float: left;
}
#map .pac {
    background-image: url(Cute-Ball-Games-icon.png);
}
#map .coin {
    background-image: url(coin.png);
}
#map .bomb {
    background-image: url(Bomb.png);
}
#map .heart {
    background-image: url(Heart.png);
}
#stats {
    width: 500px;
    height: 50px;
    border: 3px solid #777;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}